#divHeader{
  display : flex;
  flex-flow : nowrap row;
  justify-content : center;
  align-items: center;
}

#divGithubLink{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:end;
}

#divCanvas{
  display: flex;
  flex-flow : nowrap row;
  justify-content: center;
}

#divColorpicker{
  display: flex;
  flex-flow:nowrap column;
  justify-content: center;
  align-items: center;

  padding-top:20px;
}

#divColorpicker button{
  margin-right:20px;
}

#divTextInput{
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
}